<div class="container">
  <div class="exercise1">
    <h1>Exercise 1</h1>
    <li *ngFor="let data of list">{{ data }}</li>
    <p>List Size: {{list.length}}</p>
  </div>
  
  <div class="exercise2">
    <h1>Exercise 2</h1>
    <p>Number of countries in the world: <b>{{ countriesLength }}</b></p>
    <p>Country with the most official languages, where they officially speak German (de): 
      <b>{{ mostLanguagesCountryGerman.country }} speaking {{ mostLanguagesCountryGerman.languages.length }} languages </b>
    </p> 
    <div class="countriesList" *ngFor="let country of countriesList">
      <li>{{country.country}} speaks {{country.languages.length}} languages</li>
    </div>
    <p>Country with the highest number of official languages: 
      <b>{{ mostLanguagesCountry.country }} speaking {{ mostLanguagesCountry.languages.length }} languages</b>
    </p>
    <p>The most common official language(s), of all countries is: <b>{{ mostCommonLanguage }}</b></p>
  </div>
</div>